<div class="row main" style="margin-top: 70px;">
	<div class="container-fluid">

		<div class="row content-block" ng-hide="signed">
			<div class="col-md-8 col-md-offset-2" >
				<h4>Please sign the CLA for {{params.user}}/{{params.repo}}</h4>
				<div class="cla-box well">
					<div ng-bind-html="cla"></div>
				</div>
                <div ng-show="!signed && repoExists && claText">
                    <p class="text-center">
                        <form ng-submit="submit()">
                            <label for="name">Full Name:</label><input id="name" type="text" ng-model="user.value.name" required class="form-control" /><br/>
                            <label for="address">Address:</label><input id="address" type="text" ng-model="user.value.address" required class="form-control" /><br/>
                            <label for="email">E-mail:</label><input id="email" type="email" ng-model="user.value.email" required class="form-control" /><br/>
                            <input type="submit" id="submit" class="btn btn-info" style="width:100%; height:45px;" value="Sign in with GitHub to agree" />
                        </form>
                    </p>
                </div>
			</div>
		</div>

		<div class="row center-block content-block" ng-show="signed">
			<h3>Thank you {{user.login}}</h3>
			<h4>for signing the CLA!</h4>
			</br>
			<h4 ng-show="!!redirect">we are now taking you back to GitHub</h4>
			<p ng-repeat="n in [1,2,3]" class="fa fa-circle dots" ng-class="'counter'+n"></p>
		</div>
	</div>
</div>
